@use "../sass-utils/variables" as *;

.home-wrapper {
    display: flex;
    padding: 0rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: hsl(var(--clr-dark-gray));
    background-color: #b5b5b5;
    div{
        display: flex;
    }
    p{
        color: black;
        text-align: center;
        margin: 0 4rem;  
    }

    img{
        height: 35rem;
        width: auto;
    }

    @media (max-width: 550px) {
        img {
          margin-top: 5.5rem;
          width: auto;
          height: 20rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
}

.about-text{
    padding-right: 2rem;
    text-align: center;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: transparent;
    font-size: 9rem;
    line-height: 1.2;
    font-family: $ff-koulen;
    text-transform: uppercase;
    @media (max-width: 800px) {
      font-size: 5rem;
    }

    @media (max-width: 550px) {
      font-size: 4rem;
    }
}